/* $Id: contents.css,v 1.16 2004/06/07 01:08:05 s-okino Exp $ */

h1 {
    color: #666666;
	background-color: #e9eeea;
	font-size:12pt;
	font-weight:bold;
    text-align: center;
}

h1.paraname {
	text-align:center;
	color:#000000;
	background-color: #ff99ff;
	font-size:17pt;
	font-weight:normal;
	margin: 10px 0px 0px 10px;
}

h2 {
	color:#000000;
	font-size:12pt;
	margin: 0px 0px 0px 5px;
}

h3 {
    color:            #666666;
	background-color: #e9eeea;
	font-size:12pt;
	font-weight:bold;
	padding-left:15px;
/*	text-align: center;*/
}

ol li {
	font-size:10pt;
	font-weight:bold;
}

ol li.itm {
	font-size:10pt;
	font-weight:normal;
}

ol li.sym {
	font-size:10pt;
	font-weight:normal;
}

li .list-ttl {
	color: #000000;
}

.list-ttl {
	font-weight:bold;
	margin-top: 5px;
}

a {
	text-decoration:underline;
}

body {
	background-color: #ffffff;
	font-family: Verdana, sans-serif;
	margin: 0px 10px 10px 10px;
}

body.mokuji {
	background-color: #ffffff;
	font-family: Verdana, sans-serif;
	margin: 0px 10px 10px 10px;
}

p {
	color: #000000;
}

p.location {
	color:            #ffffff;
	background-color: #666666;
	font-size:10pt;
	font-weight: bold;
	text-align: center;
	margin-top: 4px;
}

th {
	color: #000000;
	font-size: 10pt;
	font-weight: normal;
}

td {
	color: #000000;
	font-size: 10pt;
	font-weight: normal;
}

table.title {
	width: 100%;
	border-style: solid;
	border-width: 2px;
}

table.para {
	width: 98%;
	border-style: none;
	border-width: 0px;
	margin-left: 4px;
}

td.para {
	color: #000000;
	background-color: #ff99ff;
	font-size: 13pt;
	font-weight: bold;
	text-indent: 5px;
	border-style: none;
	border-color: #cccccc;
}

table.s1 {
	width: 100%;
	margin-top: 0px;
	margin-left: 4px;
}
td.s1 {
	color: #666666;
	background-color: #dfedf0;
	font-size: 10pt;
	font-weight: bold;
	padding: 3px 5px 3px 10px;
/*	padding-left: 18px;*/
	border-style: none;
	border-color: #cccccc;
}

td.s1d {
	color:	#666666;
	font-size:	10pt;
	font-weight:	bold;
	padding:	3px 5px 3px 10px;
}

dl {
	color: #1b6384;
	font-size: 10pt;
	font-weight: normal;
}

dt {
	color: #1b6384;
	font-size: 10pt;
	font-weight: bold;
}

dd {
	color: #0000ff;
	font-size: 10pt;
	font-weight: bold;
}

ul {
	color: #000000;
	font-size: 10pt;
	font-weight: bold;
	margin-left: 25px;
}

ol {
	color: #000000;
	font-size: 10pt;
	font-weight: bold;
	margin-left: 30px;
}

ol.step1 {
	color:#000000;
	font-size:11pt;
	font-weight:bold;
}

ol.step1 li{
	color:#000000;
	font-size:11pt;
	font-weight:bold;
}


ol.step2 {
	color: #5b80a4;
	font-size: 11pt;
	font-weight: bold;
	list-style-type: lower-alpha;
	margin-left: 40px;
}

ol.s2 {
	color: #5b80a4;
	font-size: 11pt;
	font-weight: bold;
	list-style-type: lower-alpha;
	margin-left: 25px;
}

ol.s3 {
	color: #55969d;
	font-size: 11pt;
	font-weight: bold;
	list-style-type: lower-roman;
	margin-left: 20px;
}

ol.content5{
	margin:0px 0px 0px 0px;
}

ol.topic {
	list-style-type: none;
	margin-left:     20px;
}

ol.topic li {
	font-weight: normal;
	color:       #666666;
}

dt.warningTitle {
	color: #ff0000;
	font-size: 10pt;
	font-weight: bold;
}

dt.warning {
	color: #ff0000;
	font-size: 10pt;
	font-weight: normal;
}

dd.warning {
	color: #ff0000;
	font-size: 10pt;
	font-weight: normal;
	margin-left: 15px;
}

dd.warning th {
	color: #ff0000;
}

dd.warning td {
	color: #ff0000;
}

dd.warning caption {
	color: #ff0000;
}

dt.cautionTitle {
	color: #e88517;
	font-size: 10pt;
	font-weight: bold;
}

dt.caution {
	color: #e88517;
	font-size: 10pt;
	font-weight: normal;
}

dd.caution {
	color: #e88517;
	font-size: 10pt;
	font-weight: normal;
	margin-left: 15px;
}

dd.caution th {
	color: #e88517;
}

dd.caution td {
	color: #e88517;
}

dd.caution cation {
	color: #e88517;
}

dt.referenceTitle {
	color: #008000;
	font-size: 10pt;
	font-weight: bold;
}

dt.reference {
	color: #008000;
	font-size: 10pt;
	font-weight: normal;
}

dd.reference {
	color: #008000;
	font-size: 10pt;
	font-weight: normal;
	margin-left: 15px;
}

dd.reference th {
	color: #008000;
}

dd.reference td {
	color: #008000;
}

dd.reference caption {
	color: #008000;
}

dl.torque {
	color: #1b6384;
	font-size: 10pt;
	font-weight: bold;
}

dt.torque {
	color: #1b6384;
	font-size: 10pt;
	font-weight: bold;
}

dd.torque {
	color: #1b6384;
	font-size: 10pt;
	font-weight: bold;
	margin-left: 32px;
}

dd.subtitle {
	color:       #1b6384;
	font-size:   10pt;
	font-weight: bold;
	margin-left: 16px;
}

dl.spec {
	color: #1b6384;
	font-size: 10pt;
	font-weight: bold;
}

dt.spec {
	color: #1b6384;
	font-size: 10pt;
	font-weight: bold;
}

dd.spec {
	color: #1b6384;
	font-size: 10pt;
	font-weight: bold;
	margin-left: 5px;
}

/* [SST] */
dl.sst {
	color: #0000ff;
	font-size: 10pt;
	font-weight: bold;
}

/* [SST] */
dt.sst {
	color: #fc9b87;
	font-size: 10pt;
	font-style: italic;
}

/* [SST] */
dd.sst {
	color: #fc9b87;
	font-size: 10pt;
	font-weight: bold;
	margin-left: 15px;
}

img.half {
	width: 330px;
/*	border: solid 1px #333333;*//* NN4.x NG */
	border-color: #333333 #333333;
	margin: 8px 0px 8px 8px;
/*	position: relative;*/
	float: none;
}

img.full {
	width: 690px;
/*	border: solid 1px #333333;*//* NN4.x NG */
	border-color: #333333 #333333;
	margin: 8px 0px 5px 8px;
/*	position: relative;
	float: none;*/
}

div.full {
  text-align: center;
  width: 100%;
  float: right;
}

img.none {
	border: none;
	margin: 8px 0px 8px 8px;
}

table.float {
	border: 0px;
	margin: 0px;
/*	position: relative;*//* NN4.x NG */
	float: right;
}

a:link {
	font-size: 10pt;
	text-decoration: underline;
}

a:visited {
	font-size: 10pt;
	text-decoration: underline;
}

a:active {
	font-size: 10pt;
	text-decoration: none;
}

a:hover {
	font-size: 10pt;
	text-decoration: underline;
        color:#ff0033;
}

a.tbl-para {
	width: 100%;
	height: 20px;
	font-size: 10pt;
	text-decoration: none;
	border: solid 0px #a3b5bc;
	padding-top: 3px;
	padding-left: 5px;
    word-break: normal;
}

a.tbl-para:link {
        color: #666666;
}

a.tbl-para:visited {
        color: #666666;
	text-decoration:	none;
}

a.tbl-para:hover {
        color: #db883d;
	background-color: #dde3e6;
        text-decoration: none;
}

a.tbl-para:active {
        color: #ffffff;
	background-color: #a9b2b7
}

.tbl-par {
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
	padding-left: 0px;
	font-size: 9pt;
}

.tbl-see {
	text-align: center;
	background-color: #ffffff;
	border-style: solid;
	border-width: 1px 1px 1px 1px;
	border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
	padding-left: 0px;
}

.tbl-sec {
	color: #ffffff;
	background-color: #a8c0ce;
	font-size: 9pt;
	text-align: center;
    word-break: normal;
}

.tbl-ttl {
	color: #666666;
	background-color: #dde3e6;
	font-size: 10pt;
	border-style: solid;
	border-color: #ffffff #ffffff #ffffff #ffffff;
	border-width: 1px 2px 1px 1px;
	padding-left: 5px;
	word-break: normal;
}

.tbl-dtclist {
	color: #666666;
    background-color: #c7d0d6;
	font-size: 9pt;
	border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
	border-width: 1px 1px 1px 1px;
	padding-left: 5px;
	word-break: normal;
}

.tbl {
	color: #000000;
	background-color: #ffffff;
	font-size: 11pt;
	font-weight:bold;
	border-style: solid;
	border-color: #c0c0c0 #c0c0c0 #c0c0c0 #c0c0c0;
	border-width: 1px 1px 1px 1px;
	padding-left: 5px;
}

.tbl-head {
	color: #666666;
	font-weight: normal;
	background-color: #c9c9c9;
	font-size: 10pt;
	text-align: center;
	padding-top: 5px;
/*	padding-bottom: 0px;*/
	padding-left: 10px;
	border-width: 1px 2px 1px 1px;
	border-color: #ffffff;
        border-style: solid;
}
.tbl-par {
	background-color: #c7d0d6;
	border-style: solid;
	border-width: 1px 1px 1px 5px;
	border-color: #ffffff #ffffff #ffffff #a3b5bc;
	padding-left: 0px;
}

.tbl-symptom {
	color: #666666;
	background-color: #ffffff;
	font-size: 10pt;
	text-align: left;
	vertical-align: middle;
	padding-left: 0px;
}

.tbl-symlist {
	color: #666666;
	background-color: #ffffff;
	font-size: 10pt;
	line-height: 1.2;
	padding: 5px;
}

.subpara {
	width: 100%;
	color: #000099;
	background-color: #ffffff;
	font-size: 12pt;
	font-weight: bold;
	text-align: left;
}

.gray4 {
	color: #ffffff;
	background-color: #b4bcc5;
	font-size: 11pt;
	font-weight: bold;
	text-align: left;
	padding: 5px 10px 5px 10px;
}

.tbl-title {
	padding-top: 6px;
	color: #5b80a4;
	font-size: 10pt;
	font-weight: bold;
	text-align: left
}

.diag-fin {
	color:					#333333;
	background-color: #ffff99;
	font-size:			10pt;
	font-weight:		bold;
 	text-align:			center;
	vertical-align:		middle;
	border-style:		solid;
	border-color:		#cc6600;
	border-width:		1px;
}

.diag-next {
	color:					#333333;
	background-color: #ccff99;
	font-size:			10pt;
	font-weight:		bold;
 	text-align:			center;
	vertical-align:		middle;
	border-style:     	solid;
	border-color:     	#008000;
	border-width:     	1px;
}

.pages {
	color: #333333;
	font-size: 9pt;
	text-align: center;
}	

font.ptxt {
	color:#000000;
	font-size:10pt;
	font-weight: normal;
}

li.atten2 {
 color:#ff0000;
}

span.atten2 {
 color:#ff0000;
}

th.atten2 {
 color:#ff0000;
}

td.atten2 {
 color:#ff0000;
}

li.atten3 {
  color:  #e88517;
}

span.atten3 {
  color:  #e88517;
}

th.atten3 {
  color:  #e88517;
}

td.atten3 {
  color:  #e88517;
}

li.atten4 {
 color:#008000;
}

span.atten4 {
 color:#008000;
}

th.atten4 {
 color:#008000;
}

td.atten4 {
 color:#008000;
}

a.subwindow-button {
	width:            50px;
	text-align:       center;
	font-weight:      bold;
	font-size:        9pt;
	margin:           4px 0px 1px 4px;
	text-decoration:  none;
}

a.subwindow-button:link {
	background-color: #a82e2e;
	font-size:        10pt;
	color:            #ffffff;
}

a.subwindow-button:visited {
	background-color: #a82e2e;
	font-size:        10pt;
	color:            #ffffff;
}

a.subwindow-button:hover {
	text-decoration:  none;
	background-color: #cd5c5c;
	font-size:        10pt;
	color:            #ffff99;
}

a.subwindow-button:active {
	background-color: #a82e2e;
	font-size:        10pt;
	color:            #ffffff;
}

img.printIcon {
	margin: 4px 0px 0px 0px;
}

br.beforePng {
	font-size: 0pt;
}