/* $Id: local.css,v 1.5 2004/03/01 13:54:33 kato Exp $*/

h3 {
	font-size:	13pt;  
	color:			#666666;
}

p {
	color:#ffffff;
	font-size:10pt;
	text-decoration:none;
}

a {
/*	color:#ffffff;*/
	color:#666666;
	font-size:10pt;
	text-decoration:none;
    font-weight: normal;
}

body {
    background-color:  #e9eeea;
	margin: 10px 5px 10px 5px;
	font-family:      Verdana, sans-serif;
}

ol.step1-num {
	color: #5b80a4;
	font-size: 10pt;
	font-weight: bold;
	list-style-type: decimal;
	margin: 5px 5px 5px 32px;
}

ol.step1-disc {
	color: #5b80a4;
	font-size: 10pt;
	font-weight: bold;
	list-style-type: disc;
	margin: 5px 5px 5px 25px;
}

td {
/*	text-align: center;*/
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #3b96bf;
	text-decoration: none;
}

a:active {
	color: #1b6384;
	text-decoration: underline;
}

a.menu {
	width: 100%;
	height: 20px;
	font-size: 10pt;
	padding: 2px 8px 2px 8px;
	text-align: left;
	border-style:	none;
/*	background-color:  #ffffff;*/
}

td.menu {
	width: 100%;
	height: 20px;
	font-size: 10pt;
	padding: 0px 0px 0px 0px;
	text-align: left;
	border:	1px solid  #cccccc;
	background-color:  #ffffff;
}

.menu:link {
	color: #666666;
/*	background-color: #ffffff;*/
	text-decoration: none;
}

.menu:visited {
	color: #666666;
/*	background-color: #ffffff;*/
	text-decoration: none;
}

.menu:hover {
	color: #ffffff;
	background-color: #c6cfd3;
	text-decoration: none;
}

.menu:active {
	color: #ffffff;
	background-color: #a9b2b7;
	text-decoration: none;
}

a.sousetsu {
        width: 100%;
	height: 20px;
	color: #666666;
/*	background-color: #f3f8fa;*/
	text-decoration: none;
	text-align: left;
	padding: 2px 8px 2px 8px;
	font-size: 10pt;
	border-style:	none;
}

.sousetsu:visited {
	color: #666666;
/*	background-color: #f3f8fa;*/
	text-decoration: none;
}

.sousetsu:hover {
        color: #ffffff;
        background-color: #99c5d5;
        text-decoration: none;
}

td.sousetsu {
        width: 100%;
	height: 20px;
	color: #666666;
	background-color: #f3f8fa;
	text-align: left;
	padding: 0px 0px 0px 0px;
	font-size: 10pt;
	border:	1px solid #cccccc;
}

a.first {
	width: 100%;
	height: 20px;
	color: #666666;
/*	background-color: #f3f8fa;*/
	text-decoration: none;
    	text-align: left;
	padding: 2px 8px 2px 8px;
	font-size: 10pt;
	border-style:	none;
}

.first:visited {
	color: #666666;
/*	background-color: #f3f8fa;*/
	text-decoration: none;
}

.first:hover {
        color: #ffffff;
        background-color: #99c5d5;
        text-decoration: none;
}

td.first {
	width: 100%;
	height: 20px;
	color: #666666;
	background-color: #f3f8fa;
    	text-align: left;
	padding: 0px 0px 0px 0px;
	font-size: 10pt;
	border: 1px solid #cccccc;
}